/*

   SKINS

   Classes for setting foreground and background colors on elements.

*/

/* Text colors */

.ink { color: $ink; }
.compote { color: $compote; }
.arugula { color: $arugula; }

/* Background colors */

.bg-ink { background-color: $ink; }
.bg-compote { background-color: $compote; }
.bg-arugula { background-color: $arugula; }

/* Fills */

/* Text colors */

.fill-ink { fill: $ink; }
.fill-compote { fill: $compote; }
.fill-arugula { fill: $arugula; }

@media(min-width: 60em) {
  .bg-transparent-l { background-color: transparent; }
}
