/*

  TEXT EFFECTS

*/

.outline-compote {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $compote;
}
.outline-white {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $white;
}
